@media (max-width: 376px) {
  :root {
    --padding: 2.66vw;
  }

  p {
    font-size: 2.7vh;
    line-height: calc(var(--padding) * 2.345);
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .decorated-zone::before {
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
  }

  .bulb__block {
    position: absolute;
    top: calc(var(--padding) * 1.1);
    right: calc(var(--padding) * 1.1);
    margin-right: var(--padding);
    font-size: 5vw;
    line-height: calc(var(--padding) * 2.4);
  }

  .bulb__block::after {
    margin-left: 3vw;
    box-shadow: 0px 0px calc(var(--padding) / 5) calc(var(--padding) / 2.8);
  }

  .header__theme-menu {
    display: flex;
    justify-content: right;
    margin-block-start: 2.9vw;
    margin-inline-end: 0.7vw;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--padding) * 1.8);
    margin-block-start: 14.9vw;
  }
  .header__theme-menu-item {
    display: flex;
    padding: 0 0;
    margin: 0 0 0 0;
  }
  .header__theme-menu-button {
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: 4.75vw;
    line-height: 0.1%;
    padding: 2.4vw 2vw;
    letter-spacing: 0%;
    text-align: center;
    width: 17vw;
  }

  .with__shadow {
    text-shadow: calc(var(--padding) / 3) calc(var(--padding) / 3) 0
      var(--accent-color);
  }

  .main__title {
    display: flex;
    margin-block-start: 19.5vw;
    margin-left: 0;
    font-size: 17.35vh;
    text-align: left;
    align-items: center;
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--font-main-color);
    font-family: var(--main-font), sans-serif;
    font-size: 4.8vw;
    font-weight: 700;
    line-height: 6.24vw;
    letter-spacing: 0%;
    text-align: left;
  }

  .in__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 0;
    margin-block-start: 16.4vw;
  }

  .header__theme-menu-button_active {
    pointer-events: none;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-accent-color);
    border-left: 1px solid var(--border-accent-color);
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
    bottom: calc(var(--padding) * 1.1);
    left: calc(var(--padding) * 1.1);
    opacity: 1;
  }

  main {
    display: grid;
    margin-top: 10.66vw;
    gap: 13.33vw;
    width: 100vw;
  }

  .common__section {
    padding: 0 var(--padding);
    width: 100%;
    display: grid;
  }

  .section-header {
    display: grid;
    font-family: var(--main-font), sans-serif;
    font-size: 4.8vw;
    font-weight: 700;
    line-height: 6.24vw;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 5.33vw;
  }

  .sections__subtitle {
    display: grid;
    margin-bottom: var(--padding);
  }

  .sections__list {
    display: grid;
    grid-gap: 5.3vw;
  }

  .first__section {
    grid-template-columns: 1fr;
  }

  .second__section {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .second__section > .sections__list {
    display: grid;
    grid-row: span 3;
    grid-template-columns: 1fr;
  }

  /*ОСТАНОВКА ТУТ!!!*/

  .third__section {
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
  }
  .third__section-first-header {
    margin-bottom: var(--padding);
  }

  .third__section-accent-headers {
    font-weight: 400;
    /*
    margin-bottom: calc(var(--padding) * 1.5);
    */
  }

  .third__section > .sections__list {
    grid-gap: 1.76vw;
  }

  .fourth__section {
    gap: 10px;
    margin-bottom: 60px;
  }

  .images__list {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    /*
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  */
  }

  .image__list-item {
    /*display: grid;*/
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .image__list-item-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__list-item:nth-of-type(1) {
    grid-column: 1;
  }

  .image__list-item:nth-of-type(2) {
    grid-row: 1;
  }
  .image__list-item:nth-of-type(3) {
    grid-row: 1;
  }

  .image__list-item:nth-of-type(5) {
    grid-column: 1;
  }

  .footer {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vw;
  }

  .footer__content {
    height: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .footer__decorated {
    display: grid;

    width: 100%;
    height: 100vw;
    position: absolute;

    align-items: center;
  }
}
