@media (max-width: 768px) {
  :root {
    --padding: 2vh;
  }

  p {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.13);
  }

  .bulb__block {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.2);
  }

  .header__theme-menu {
    justify-content: flex-end;
    margin-block-start: 16.5vh;
    margin-inline-end: 0.9vh;
    /*
    margin-block-end: 3vh;
    */
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--padding) * 0.5);
  }
  .header__theme-menu-button {
    font-size: 1.83vh;
    line-height: calc(var(--padding) * 1.2);
  }
  .main__title {
    font-size: 120px;
    margin-block-start: 17.3vh;
    margin-block-end: -1vh;
  }

  .title-decor {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.2);
  }

  .in__header {
    margin-block-start: 16.6vh;
    margin-block-end: 16.6vh;
  }

  main {
    margin-top: calc(var(--padding) * 2.9);
    gap: calc(var(--padding) * 3.9);
  }

  .section-header {
    /*
    font-size: 18px;
    */
    font-size: 1.76vh;
    line-height: calc(var(--padding) * 1.2);
    font-weight: 700;
    text-align: left;
  }

  .first__section {
    grid-column-gap: 20px;
  }

  .second__section > .sections__list {
    grid-template-columns: 1fr;
  }

  .third__section {
    grid-column-gap: calc(var(--padding));
  }

  .third__section > .sections__list {
    grid-gap: var(--padding);
  }
  .footer__content {
    margin-block-start: 0;
  }
}
