/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  margin: 0 0;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  background: transparent;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--border-accent-color);
  border-right: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  right: var(--padding);
  top: var(--padding);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border-accent-color);
  border-left: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  bottom: var(--padding);
  left: var(--padding);
  opacity: 1;
}

.bulb__block {
  position: absolute;
  top: var(--padding);
  right: calc(var(--padding) * 1.2);
  margin-right: calc(var(--padding) / 4);
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  /*
  font-size: 18px;
  */
  font-size: 1.75vw;
  font-weight: 400;
  line-height: calc(var(--padding) * 1.25);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  opacity: 1;
}

.bulb__block::after {
  display: flex;
  content: "";
  align-self: center;
  margin-left: 1vh;
  width: calc(var(--padding) / 2);
  height: calc(var(--padding) / 2);
  box-shadow: 0px 0px calc(var(--padding) / 5) calc(var(--padding) / 10)
    var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.header {
  display: grid;
  padding: var(--padding);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.decorated-zone {
  /**/
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  /*
  grid-template-columns: repeat(3, 1fr);
  */
  gap: 0.8vw;
}

.header__theme-menu-item {
  /*padding: 0 13px;*/
}

.header__theme-menu-button {
  font-family: var(--main-font), sans-serif;
  font-size: 1.75vw;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  width: 7.11vw;
  height: 2.53vh;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.main__title {
  display: grid;
  margin-left: -20px;
  color: var(--font-title-decorated-color);
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-size: 20.3vh;
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: 0%;
  text-align: left;
  align-items: center;
  margin-block-start: 36.5vh;
  margin-block-end: 3vh;
}

.with__shadow {
  text-shadow: calc(var(--padding) / 5) calc(var(--padding) / 5) 0
    var(--accent-color);
}

.in__header {
  display: grid;
  /*grid-column-start: 2;*/
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(50vw - var(--padding));
  margin-block-start: 12vh;

  margin-block-end: 15vh;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-main-color);
  font-family: var(--main-font), sans-serif;

  font-size: 1.75vw;
  line-height: 2.3vw;
  font-weight: 700;

  letter-spacing: 0%;
  text-align: left;
}

main {
  display: grid;
  margin-top: calc(var(--padding) * 2.7);
  gap: calc(var(--padding) * 3.74);
  width: 100vw;
}

.common__section {
  padding: 0 var(--padding);
  width: 100%;
  display: grid;
}

.section-header {
  display: grid;
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 1.75vw;
  line-height: 2.3vw;
  letter-spacing: 0%;
  text-align: left;
}

.sections__subtitle {
  display: grid;
  margin-bottom: calc(var(--padding) / 2);
}

.sections__list {
  display: grid;
  grid-gap: var(--padding);
}

.first__section {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: calc(var(--padding) / 2.5);
}

.second__section {
  grid-template-columns: 1fr 2fr;
  gap: calc(var(--padding) / 1.2);
}

.second__section > .sections__list {
  display: grid;
  grid-column: span 2;
  grid-row: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.third__section {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: calc(var(--padding) / 2.5);
}

.third__section > .sections__list {
  grid-gap: 1.76vw;
}

.third__section-first-header {
  margin-bottom: 0;
}

.third__section-accent-headers {
  font-weight: 400;
}

.fourth__section {
  gap: 10px;
  margin-bottom: 60px;
}

.images__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
}

.image__list-item {
  display: grid;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.image__list-item-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__list-item:nth-of-type(1) {
  grid-column: span 2;
}

.image__list-item:nth-of-type(2) {
  grid-row: span 2;
}
.image__list-item:nth-of-type(3) {
  grid-row: span 2;
}

.image__list-item:nth-of-type(5) {
  grid-column: span 2;
}

.footer {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.footer__content {
  height: 100%;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer__decorated {
  display: grid;
  width: 100%;
  height: 100vh;
  position: absolute;
  align-items: center;
}

.footer__decorated::after {
  position: absolute;
  content: "";
  border-top: 1px solid var(--border-accent-color);
  border-right: 1px solid var(--border-accent-color);
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}
.footer__decorated::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--border-accent-color);
  border-left: 1px solid var(--border-accent-color);
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}
