/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  margin: 0 0;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--border-accent-color);
  border-right: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  right: var(--padding);
  top: var(--padding);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border-accent-color);
  border-left: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  bottom: var(--padding);
  left: var(--padding);
  opacity: 1;
}

.hidden__light-theme {
  position: absolute;
  top: calc(var(--padding) * 0.9);
  right: calc(var(--padding) * 1.45);
  color: var(--accent-color);
  font-family: var(--main-font), monospace;
  font-size: 1.75vw;
  font-weight: 400;
  line-height: calc(var(--padding) * 1.25);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  opacity: 1;
}

.hidden__light-theme::after {
  display: flex;
  content: "";
  align-self: center;
  margin-left: 1vh;
  width: calc(var(--padding) / 2);
  height: calc(var(--padding) / 2);
  box-shadow: 0px 0px calc(var(--padding) / 5) calc(var(--padding) / 10)
    var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.header {
  display: grid;
  padding: var(--padding);
  width: 100%;
  /*свойство для прохождения автотестов на Github*/
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
}

.header__theme-menu-button {
  font-family: var(--main-font), monospace;
  font-size: 1.75vw;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  width: 7.11vw;
  height: 2.53vh;
  background-color: transparent;
  outline-style: none;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
  outline-offset: 0.2rem;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.main__title {
  display: grid;
  margin-left: -20px;
  color: var(--font-title-decorated-color);
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-size: 20.3vh;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  align-items: center;
  margin-block-start: 36.5vh;
  margin-block-end: 3vh;
}

.with__shadow {
  text-shadow: calc(var(--padding) / 5) calc(var(--padding) / 5) 0
    var(--accent-color);
}

.paragraph__in__header {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(50vw - var(--padding));
  margin-block-start: 12vh;
  margin-block-end: 15vh;
  background-color: var(--accent-color);
  color: var(--font-main-color);
  font-family: var(--main-font), monospace;
  font-size: 1.75vw;
  line-height: 2.3vw;
  font-weight: 700;
  text-align: left;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-main-color);
  font-family: var(--main-font), monospace;
  font-size: 1.75vw;
  line-height: 2.3vw;
  font-weight: 700;
  text-align: left;
}

main {
  display: grid;
  margin-top: calc(var(--padding) * 2.7);
  gap: calc(var(--padding) * 3.74);
  width: 100%;
}

.common__section {
  padding: 0 var(--padding);
  width: 100%;
  display: grid;
}

.section-header {
  display: grid;
  font-family: var(--main-font), monospace;
  font-weight: 700;
  font-size: 1.75vw;
  line-height: 2.3vw;
  text-align: left;
  color: var(--h2-font-color);
}

.sections__subtitle {
  display: grid;
  margin-bottom: calc(var(--padding) / 2);
}

.sections__list {
  display: grid;
  grid-gap: var(--padding);
}

.article-content {
  color: var(--content-text-color);
  font-family: var(--main-font), monospace;
  font-weight: 400;
  font-size: 1.75vw;
  line-height: 2.3vw;
  text-align: left;
}

.article-info-link {
  outline: none;
  text-decoration: none;
  text-shadow: calc(var(--padding) * 0.1) calc(var(--padding) * 0.1) 0
    var(--accent-color);
}

.article-info-link:hover {
  border-bottom: 1px solid var(--content-text-color);
}
.article-info-link:focus {
  outline-style: none;
}

.article-info-link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

.why__section {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: calc(var(--padding) / 2.5);
}

.what__section {
  grid-template-columns: 1fr 2fr;
  gap: calc(var(--padding) / 1.2);
}

.what__section > .sections__list {
  display: grid;
  grid-column: span 2;
  grid-row: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.how__section {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: calc(var(--padding) / 2.5);
}

.how__section > .sections__list {
  grid-gap: 1.76vw;
}

.how__section-first-header {
  margin-bottom: 0;
}

.how__section-accent-headers {
  font-weight: 400;
}

.fourth__section {
  gap: 10px;
  margin-bottom: 60px;
}

.images__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
}

.image__list-item {
  display: grid;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.image__list-item-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__list-item:nth-of-type(1) {
  grid-column: span 2;
}

.image__list-item:nth-of-type(2) {
  grid-row: span 2;
}
.image__list-item:nth-of-type(3) {
  grid-row: span 2;
}

.image__list-item:nth-of-type(5) {
  grid-column: span 2;
}

.footer {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
}

.footer__content {
  height: 100%;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer__decorated {
  display: grid;
  width: 100%;
  height: 100vh;
  position: absolute;
  align-items: center;
}

.footer__decorated::after {
  position: absolute;
  content: "";
  border-top: 1px solid var(--border-accent-color);
  border-right: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  right: var(--padding);
  top: var(--padding);
}
.footer__decorated::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--border-accent-color);
  border-left: 1px solid var(--border-accent-color);
  width: calc(var(--padding) * 1.25);
  height: calc(var(--padding) * 1.25);
  bottom: var(--padding);
  left: var(--padding);
}

@media (width <= 376px) {
  :root {
    --padding: 2.66vw;
  }

  .article-content {
    font-size: 2.7vh;
    line-height: calc(var(--padding) * 2.345);
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .decorated-zone::before {
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
  }

  .hidden__light-theme {
    position: absolute;
    top: calc(var(--padding) * 1.1);
    right: calc(var(--padding) * 1.1);
    margin-right: var(--padding);
    font-size: 5vw;
    line-height: calc(var(--padding) * 2.4);
  }

  .hidden__light-theme::after {
    margin-left: 3vw;
    box-shadow: 0px 0px calc(var(--padding) / 5) calc(var(--padding) / 2.8);
  }

  .header__theme-menu {
    display: flex;
    justify-content: right;
    margin-block-start: 2.9vw;
    margin-inline-end: 0.7vw;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--padding) * 1.8);
    margin-block-start: 14.9vw;
  }
  .header__theme-menu-item {
    display: flex;
    padding: 0 0;
    margin: 0 0 0 0;
  }
  .header__theme-menu-button {
    font-family: var(--main-font), monospace;
    font-weight: 400;
    font-size: 4.75vw;
    line-height: 0.1%;
    padding: 2.4vw 2vw;
    text-align: center;
    width: 17vw;
  }

  .with__shadow {
    text-shadow: calc(var(--padding) / 3) calc(var(--padding) / 3) 0
      var(--accent-color);
  }

  .main__title {
    display: flex;
    margin-block-start: 19.5vw;
    margin-left: 0;
    font-size: 17.35vh;
    text-align: left;
    align-items: center;
  }

  .paragraph__in__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 0;
    margin-block-start: 16.4vw;
    background-color: var(--accent-color);
    color: var(--font-main-color);
    font-family: var(--main-font), monospace;
    font-size: 4.8vw;
    font-weight: 700;
    line-height: 6.24vw;
    text-align: left;
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--font-main-color);
    font-family: var(--main-font), monospace;
    font-size: 4.8vw;
    font-weight: 700;
    line-height: 6.24vw;
    text-align: left;
  }

  .header__theme-menu-button_active {
    pointer-events: none;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-accent-color);
    border-left: 1px solid var(--border-accent-color);
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
    bottom: calc(var(--padding) * 1.1);
    left: calc(var(--padding) * 1.1);
    opacity: 1;
  }

  main {
    display: grid;
    margin-top: 10.66vw;
    gap: 13.33vw;
    width: 100%;
  }

  .common__section {
    padding: 0 var(--padding);
    width: 100%;
    display: grid;
  }

  .section-header {
    display: grid;
    font-family: var(--main-font), monospace;
    font-size: 4.8vw;
    font-weight: 700;
    line-height: 6.24vw;
    text-align: left;
    margin-bottom: 5.33vw;
  }

  .sections__subtitle {
    display: grid;
    margin-bottom: var(--padding);
  }

  .sections__list {
    display: grid;
    grid-gap: 5.3vw;
  }

  .why__section {
    grid-template-columns: 1fr;
  }

  .what__section {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .what__section > .sections__list {
    display: grid;
    grid-row: span 3;
    grid-template-columns: 1fr;
  }

  .how__section {
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
  }

  .how__section-first-header {
    margin-bottom: 0;
  }

  .how__section-accent-headers {
    font-weight: 400;
    margin-top: calc(var(--padding) / 2);
  }

  .how__section > .sections__list {
    grid-gap: 4vw;
  }

  .fourth__section {
    gap: 0px;
    margin-bottom: 11vw;
  }

  .images__list {
    display: flex;
    flex-direction: column;
    grid-gap: var(--padding);
  }

  .image__list-item {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .image__list-item-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__list-item:nth-of-type(1) {
    grid-column: 1;
  }

  .image__list-item:nth-of-type(2) {
    grid-row: 1;
  }
  .image__list-item:nth-of-type(3) {
    grid-row: 1;
  }

  .image__list-item:nth-of-type(5) {
    grid-column: 1;
  }

  .footer {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .footer__content {
    height: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .footer__decorated {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
  }

  .footer__decorated::after {
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
  }

  .footer__decorated::before {
    width: calc(var(--padding) * 2.5);
    height: calc(var(--padding) * 2.5);
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 2vh;
  }

  .article-content {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.13);
  }

  .hidden__light-theme {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.2);
  }

  .header__theme-menu {
    justify-content: flex-end;
    margin-block-start: 16.5vh;
    margin-inline-end: 0.9vh;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--padding) * 0.5);
  }
  .header__theme-menu-button {
    font-size: 1.83vh;
    line-height: calc(var(--padding) * 1.2);
  }
  .main__title {
    font-size: 11.7vh;
    margin-block-start: 17.3vh;
    margin-block-end: -1vh;
  }

  .title-decor {
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.2);
  }

  .paragraph__in__header {
    margin-block-start: 16.6vh;
    margin-block-end: 16.6vh;
    font-size: 1.75vh;
    line-height: calc(var(--padding) * 1.2);
  }

  main {
    margin-top: calc(var(--padding) * 2.9);
    gap: calc(var(--padding) * 3.9);
  }

  .section-header {
    font-size: 1.76vh;
    line-height: calc(var(--padding) * 1.2);
    font-weight: 700;
    text-align: left;
  }

  .why__section {
    grid-column-gap: 20px;
  }

  .what__section > .sections__list {
    grid-template-columns: 1fr;
  }

  .how__section {
    grid-column-gap: calc(var(--padding));
  }

  .how__section > .sections__list {
    grid-gap: var(--padding);
  }
  .footer__content {
    margin-block-start: 0;
  }
}

@media (width >= 1300px) {
  .main__title {
    margin-left: 0;
    font-size: calc(10vh * 0.5 + 10vw * 0.5);
    margin-block-start: calc(15vh * 0.5);
    margin-block-end: 0vh;
  }

  .paragraph__in__header {
    margin-left: calc(52vw - var(--padding));
    margin-block-start: 0vh;
    margin-block-end: 20vh;
  }
}
