/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --font-title-decorated-color: #db00ff;
  --hover-outline-color: rgba(255, 0, 112, 0.4);
  --h2-font-color: var(--accent-color);
  --font-main-color: var(--background-color);
  --content-text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --border-accent-color: var(--accent-color);
  --main-font: "IBM Plex Mono";
  --padding: 2.75vh;
}

@media (max-width: 768px) {
  :root {
    --padding: 2vh;
  }
}

@media (max-width: 376px) {
  :root {
    --padding: 2.66vw;
  }
}
