/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --font-title-decorated-color: #db00ff;
  --h2-font-color: var(--accent-color);
  --font-main-color: #000028;
  --content-text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --border-accent-color: var(--accent-color);
  --main-font: IBM Plex Mono;
  --padding: 2.75vh;
}
